.dashboard{
    width:100vw;
    height:100vh;

    display:flex;
    flex-direction:column;

    padding:24px;
    box-sizing:border-box;
}

.topBar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.musicSection{
    flex:1;

    display:flex;
    align-items:center;
    gap:40px;
}

.albumArt{
    width:180px;
    height:180px;

    background:#222;

    border-radius:22px;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#888;
}

.musicPlayer{
    flex:1;
}

.progress{
    height:10px;
    background:#333;
    border-radius:100px;
    margin-top:20px;
}

.fill{
    width:55%;
    height:100%;

    background:white;

    border-radius:100px;
}

.times{
    display:flex;
    justify-content:space-between;

    color:#777;

    margin-top:12px;
}

.statusBar{
    display:flex;

    justify-content:space-between;

    border-top:1px solid #222;

    padding-top:18px;

    color:#999;
}